/* Header Section */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.header-container {
    height: 450px;
    width: auto;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-img {
    margin: 50px 40 0px 1045px;
    align-content: baseline;
}

.heading-des {
    font-size: smaller;
    text-align: justify;
    padding: 20px 0 20px 0;
    color: gray;
}

.button-pr {
    /* display: inline-flex; */
    padding: 20px 43px;
    /* align-items: flex-start; */
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
}
/* Features Section */
.featurers-container{
    height: 450px;
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}
.features-des{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.features-img{
    height: 430px;
    display: flex;
    gap: 200px;
   padding-bottom: 20px;
}
.box {
    border:1px solid black;
    border: none;
    border-radius: 100px 100px 0px 0px;
    background-color: pink;
}
.fet-img-title{
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
    font-size: 20px;
    /* text-align: center; */
    padding: 30px;
}
/* Hot Deal Section */
.hot-deal-container {
    margin-top: 20px;
    width: auto;
    height: 450px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hot-deal-des {
    font-size: small;
    text-align: center;
    padding: 20px;
    color: gray;
}

.hot-deal-ctn {
    text-align: center;
}

span {
    color: red;
    /* font-weight: 800px; */
    font-size: larger;
}

/* Instragram Section */
.instra-container {
    margin-top: 20px;
    text-align: center;
    align-content: center;
    /* height: 350px; */
    margin:40px 90px 40px 90px;
    
}

.instra-des {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;

}

.instra-img {
    width: 300px;
    height: 350px;
    display: flex;
    gap: 64px;
}

.instra-alin {
    align-items: center;
    /* height: 70vh; */
    align-content: center;
    /* margin-left: 120px; */
}

/* deals section */
.deal-container {
    background-image: url('./asset/Rectangle\ 9.png');
    margin:40px 90px 40px 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;  
}

.deal-img {
    height: 400px;
    width: 200px;
    align-items: center;
}
.search {
    height: 60px;
    width: 700px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.deal-des{
    padding: 30px;
}
/* Fotter Section */
.footer-container {
    height: 100px;
    width: auto;
    text-align: center;
    background-color: rgba(2, 0, 2, 4.5);
    color: white;
    padding: 120px;
    margin-top: 50px;
}
.span {
    color: #E55473;
}
.copy-right {
    color: rgb(152, 149, 149);
}
.footer-des{
    padding: 10px;
}